.app {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#title-bar {
  background: black;
  color: white;
  height: 50px;
  display: flex;
  text-align: center;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

#title-bar h2 {
  margin: 0;
  font-size: 25px;

}

#map {
  height: 90vh; 
  width: 100vw;
  position: relative;
  left: 0;
}
